@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');


html, body{
    margin: 0;
    padding: 0px;
    font-family: 'Raleway';
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
    left: 0;
    font-size: 15px;
}

#map{
    height: 400px;
    width: 100%;        
   } 


/* ----------- Nav Bar ----------- */

.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

.navbar a:hover{
    color: #F2D53F;
}

.navbar .dropdown-menu a{
    color: black;
}

ul li{
    list-style-type: none;
}

li {
    list-style-type: none;
}

.navbar{
    background-color: #130d63;
    padding: .1rem 5rem;
    min-height: 9vh;
}

.navbar-brand{
    color: #dbd030;
    font-weight: bold;
}

.btn {
    color: white;
    background-color: #1f1888;
    transition: .4s ease;
}

.btn:hover {
    color: #1f1888;
    background-color: #F2D53F;
}

.nav-icon{
    font-size: 25px;
    margin: 0 .5rem;
    color: white;
    transition: .4s ease;
}

.nav-icon:hover{
    color: #F2D53F;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    border-radius: 15px;
}

.dropdown-menu a{
    margin: 0;
}


.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.d-flex {
    margin-left: 20px;
}

.navbar-toggler {
    background: #F2D53F;
    border: none;
    padding: 5px 3px;
    outline: none;
}



/* ---- BANNER ---- */
.banner {
    margin: 5rem 10rem 0;
    display: flex;
}


.banner img{
    width: 460px;
    

}

.banner h1{
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 2rem;
}

.banner h4{
    margin-top: 1rem;
    font-size: 20px;
}

.banner h1 a{
    text-decoration: none;
    color: #1f1888;
}

.banner h4 a{
    text-decoration: none;
    color: #1f1888;
    /*border: 1px solid #1f1888;
    border-radius: 10px;
    padding: 3px;
    background-color: #F2D53F;*/
}


.banner .btn {
    margin-top: 2rem;
    font-weight: 600;
    border-radius: 15px;
}

/*-----CERTIFICADOS-------*/

.sub{
    border-radius: 20px;   
    background-color: #e7e7e7;
    margin: 0.2rem 7rem 3.5rem;
    
}

.sub .container-fluid{
    padding: 10px;
}

.sub h2{
    color: rgb(58, 58, 58);
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.sub span{
    font-size: 40px;
    font-weight: 600;
}



/*-----PRODUCTS-------*/

.display-products{
    margin: 0rem 7rem 3.5rem;
}


.display-products .row.padding{
    padding: 2rem;
}

.text-center{
    font-size: 25px;
    font-weight: 600;
}
.card-block{
    border: none;
    font-size: 15px;
}

.display-products .btn {
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.display-products a{
    text-decoration: none;
    color: black;
}

.display-products a:hover{
    color: #1f1888;
}


/*-----PRODUCTS SPECIFICATIONS-------*/

.spec{
    border-radius: 40px;   
    border: 2px solid #d5d5d5;
    margin: 0rem 7rem 3.5rem;
}

.spec .container-fluid h3{
    font-size: 20px;
    font-weight: 600;
    color: #1f1888;
}

.spec .container-fluid h4{
    font-size: 15px;
}



/*-----FOOTER-------*/

footer h6 {
    font-size: 17px;
    font-weight: 600;
}

footer p {
    font-size: 15px;
    font-weight: 400;
}

footer .container-fluid a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #d5d5d5;
}


footer {
    margin-top: 3rem;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

footer hr{
    width: 75%;
    margin-left: 4rem;
}


.copyright {
    background-color: rgb(27, 27, 27);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.copyright .text-center {
    font-size: 17px;
    font-weight: bold;
}

.copyright .text-center a{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color:  #d5d5d5;
}


/*--PRODUCTS SECTION--*/

.display-products-sec{
   padding: 3rem 7rem 7rem;
}


.display-products-sec a{
    text-decoration: none;
    color: black;
}

.display-products-sec a:hover{
    color: #1f1888;
}

.display-products-sec .row{
    padding: 2rem;
}


.display-products-sec h4 {
    font-weight: bold;
}

.display-products-sec h6{ 
    color: #1f1888;
}

.display-products-sec .bg {
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    padding: 1rem;
}

.display-products-sec hr{
   border: 1px; 
}

.display-products-sec .list-group-item {
    background-color: #F2D53F;
    border: none;
}

h5 {
    font-size: 15px;
}

.row .acess .bg {
    border: 2px solid #d5d5d5;
    border-radius: 20px;
}




/*-------BUTTON TOP--------*/

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #1f1888;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 18px; 
    transition: .4s ease;
  }
  
  #myBtn:hover {
    background-color: #dbd030;
    color: black;
  }


  /*-----CONTACT FORM------*/

.cont {
    padding: 3rem 7rem 3rem;
} 

.cont .col-lg-6 p {
    margin-bottom: 1px;
}

.cont .col-lg-6{
    margin-top: 4rem;
}

.cont h1{
    margin-bottom: 2rem;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d5d5d5;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #1f1888;
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s ease;
  }
  
  input[type=submit]:hover {
    background-color: #F2D53F;
    color: black;
  }
  
  
  .col-lg-6 {
    float: left;
    width: 70%;
    padding: 20px;
  }

  .cont .row form{
      margin-right: 2rem;
  }

  
  .cont .row:after {
    content: "";
    display: table;
    clear: both;
  }
    

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

